<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    DataImportIPBinding - Defines the IP in which HawgTouch will listen to incoming traffic from. HawgTouch in local mode listens only for DCS-10C data.
    in Server mode, HawgTouch listens to both the simulator and other HawgTouch clients keystroke input.
    -->
    <add key="DataImportIPBinding" value="127.0.0.1"/>
    
    <!--
    ServerClientList - Server Mode setting ONLY - Semi-colon seperated list of IP's of which to send simulator data to. Example: 192.168.0.5;192.168.0.8
    
    This setting only takes effect when you run HawgTouch in Server Mode
    -->
    <add key="ServerClientsList" value="10.0.0.7;10.0.0.3"/>
    
    <!--
    TargetServerIP - Remote mode setting ONLY - Defines the IP of the HawgTouch Server to send keystrokes to. If you have HawgTouch server running on 192.168.0.1 then every remote
    client has to be configured to send data to 192.168.0.1
    
    This setting only takes effect when you load a HawgTouch profile in "Remote" mode.
    -->
    <add key="TargetServerIP" value="10.0.0.3"/>
  </appSettings>
</configuration>